################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinShark/DesignTimeBuild/.dtbcache.v2
/.vs/FinShark/FileContentIndex/acc9940b-4713-4ea2-8af7-5f9c9202c767.vsidx
/.vs/FinShark/FileContentIndex/88b671bd-06fb-4d90-ad92-90daf5e27cc5.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/FinShark/v17/.suo
/.vs/FinShark/v17/DocumentLayout.backup.json
/.vs/FinShark/v17/DocumentLayout.json
/Backend/api
/Backend/api/bin/Debug/net8.0
/Backend/api/obj/Debug/net8.0
/Backend/api/obj/Debug/net8.0/api.AssemblyInfo.cs
/Backend/api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
/Backend/api/obj/Debug/net8.0/api.dll
/Backend/api/obj/Debug/net8.0/api.pdb
/Backend/api/obj/Debug/net8.0/api.sourcelink.json
/Backend/api/obj/Debug/net8.0/apphost.exe
/Backend/api/obj/Debug/net8.0/refint
/Backend/api/obj/Debug/net8.0/refint/api.dll
/Backend/api/bin/Debug/net8.0/api.deps.json
/.vs/FinShark/FileContentIndex
